[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Local Manifests for crDroid and Pixel Experience tulip.
[access "refs/*"]
	owner = group user/Niteshkumar (niteshkumar2000)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Niteshkumar (niteshkumar2000)
	label-Verified = -1..+1 group user/Niteshkumar (niteshkumar2000)
	push = group user/Niteshkumar (niteshkumar2000)
	read = group user/Niteshkumar (niteshkumar2000)
	rebase = group user/Niteshkumar (niteshkumar2000)
	removeReviewer = group user/Niteshkumar (niteshkumar2000)
	submit = group user/Niteshkumar (niteshkumar2000)
[access "refs/heads/*"]
	create = group user/Niteshkumar (niteshkumar2000)
	push = +force group user/Niteshkumar (niteshkumar2000)
	pushMerge = group user/Niteshkumar (niteshkumar2000)
	read = group user/Niteshkumar (niteshkumar2000)
[access "refs/tags/*"]
	push = group user/Niteshkumar (niteshkumar2000)
	push = +force group user/Niteshkumar (niteshkumar2000)
